.social {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: #31313100;
  font-size: 1.3vw;
  height: auto;
  overflow: visible;
}

.custom-shape-divider-bottom-1681855369 {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681855369 svg {
  position: relative;
  display: block;
  width: 200%;
  min-width: 100%;
  height: 200px;
  transform: translateX(-0%);
  animation: wave 45s linear infinite;
}

.shape-divider-top .wave-clone {
  transform: scaleX(200%) translateX(-50%);
}

@keyframes wave {
  0%, 100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-8px);
  }
}

.custom-shape-divider-bottom-1681855369 .shape-fill {
  fill: #8508FA;
}

.footer-left-bar:after,
.footer-right-bar:after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  margin: 0 auto;
  background-color: #000;
}

.footer-left-bar li,
.footer-right-bar li {
  list-style: none;
  margin: 20px 0;
}

.footer-left-bar li:last-of-type {
  margin-bottom: 33px;
}

.footer-left-bar {
  position: fixed;
  bottom: -16px;
  left: 50px;
  padding: 0;
}

.footer-left-bar i {
  font-size: 19px;
  color: #000;
}

.footer-right-bar {
  position: fixed;
  bottom: -20px;
  right: 50px;
  padding: 0;
  font-family: monospace;
  font-size: 12px;
  letter-spacing: 0.01em;
  text-orientation: upright;
  margin: 20px auto;
  padding: 0px;
  color: #000;
}

#email {
  margin: 30px auto;
}

.footer-credits {
  font-family: monospace;
  font-size: 12px;
  line-height: 0;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -60px;
  text-align: center;
  color: #000;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer-credits:hover,
.footer-credits:focus {
  text-decoration: none;
  color: #fff;
}
