<section class="section banner">
<div class="banner" id="banner">
  <!-- Sección para el banner -->
    <div class="container">
      <!-- Contenedor principal -->
      <div class="section-box-banner">
        <!-- Contenedor interno de la sección banner -->
        <div class="content">
          <!-- Contenedor para el contenido del banner -->
          <div>
            <!-- Contenedor para el encabezado principal -->
            <h1>Hola, mi nombre es</h1>
          </div>
          <div class="banner-title">
            <!-- Contenedor para el título y el subtitulo -->
            <h2>Bruno Daniel Aguirre.</h2>
            <h3>FullStack Developer 
              <br> & Data Analyst</h3>
          </div>
          <div class="banner-description">
            <!-- Contenedor para la descripción -->
            <p>
              <span class="highlight">Con 2 años de experiencia desarrollando sitios web, interfaces, sistemas y soluciones tecnológicas.</span> Siempre me he involucrado en diversos trabajos, busco crear ideas y transformarlas en código.
            </p>
          </div>
        </div>
        <div class="div-btn-banner">
          <!-- Contenedor para el botón de acción -->
          <button class="learn-more" onclick="window.open('https://drive.google.com/file/d/1TKG1EpQBKvdOjtHfFWsEdd9nnfpDvNRQ/view?usp=sharing')">
            Descargar CV
            <i class="fa-regular fa-envelope" style="color: #ffffff;"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  </section>
  