<section id="acerca"></section>
<div class="acerca-container">
  <!-- Contenido del componente Acerca -->

  <section class="section about" id="about">
    <div class="container">
      <div class="section-box">
        <div class="about-title" data-aos="fade-up">
          <h3 class="section-title">
            <span class="n-section-title"><span class="pink-text">01. </span>Acerca de mí</span>
          </h3>
        </div>
  
        <div class="row">
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div class="about-description">
              <!-- Descripción personal -->
              <p>
                ¡Hola! Soy un profesional de Tecnologías de la Información con experiencia en
                <span class="pink-text">Desarrollo Full Stack y Data Analytics.</span>
                Estoy emocionado de continuar mi carrera profesional en el campo de la tecnología y estoy comprometido a seguir desarrollando mis habilidades y conocimientos para enfrentar cualquier desafío que se presente.
                Me considero una persona proactiva y autodidacta que disfruta trabajar en equipo y aprender de los demás.
                Estoy seguro de que puedo aportar un gran valor al equipo que me dé la oportunidad.
                Como desarrollador web Full Stack y analista de datos, mi enfoque se centra en crear soluciones completas y funcionales para aplicaciones web utilizando <span class="pink-text">Angular</span>.
                Además, cuento con habilidades en análisis de datos, lo que me permite aprovechar la información para mejorar y optimizar los proyectos.
                También sé hablar tres idiomas, entre ellos <span class="pink-text">español, portugués e inglés</span>.
                Estoy preparado para enfrentar desafíos y ofrecer soluciones web de calidad basadas en mi experiencia y conocimientos.
              </p>

              <!-- Lista de habilidades -->
              <ul class="skills-list" data-aos="fade-up">
                <li class="skill-element"><span class="underline purple-text">HTML5 & CSS3</span></li>
                <li class="skill-element"><span class="underline purple-text">Javascript</span></li>
                <li class="skill-element"><span class="underline purple-text">Typescript</span></li>
                <li class="skill-element"><span class="underline purple-text">Java</span></li>
                <li class="skill-element"><span class="underline purple-text">Python</span></li>
                <li class="skill-element"><span class="underline purple-text">Angular</span></li>
                <li class="skill-element"><span class="underline purple-text">MySQL</span></li>
                <li class="skill-element"><span class="underline purple-text">C#</span></li>
                <li class="skill-element"><span class="underline purple-text">NodeJS</span></li>
                <li class="skill-element"><span class="underline purple-text">Bootstrap</span></li>
                <li class="skill-element"><span class="underline purple-text">Springboot</span></li>
                <li class="skill-element"><span class="underline purple-text">Tableu</span></li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
            <!-- Imagen de perfil -->
            <div class="about-img-container">
              <img src="./assets/profile-pic.png" alt="Imagen de perfil">
            </div>            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
