<body>
  <section class="section contact" id="contact">
    <div class="container">
      <div class="section-box">
        <h3 class="section-title">
          <span class="n-section-title"><span class="pink-text">04.</span> Contacto</span>
        </h3>
        <h4 class="e-font contact-title big-title">Pongámonos en contacto</h4>
        <p>¡Escríbeme!</p>
        <p>Estaré encantado de recibir tu contacto si quieres conversar acerca de nuevas oportunidades.</p>
        <p>Escríbeme y te responderé tan pronto como vea tu mensaje.</p>
        <div class="mt-5">
          <a href="mailto:nancaro@hotmail.com"><img src="./assets/email.svg" id="email" alt="email" class="social"></a>
        </div>
      </div>
    </div>
  </section>
</body>
